@media (max-width: 414px) {
    .header__img {
        width: 380px;
        height: 256px;
    }

    .header__card {
        width: 380px;
        height: 363px;
    }
}
@media (max-width: 576px) {
    .header__img {
        width: 450px;
        height: 256px;
    }

    .header__card {
        width: 450px;
        height: 363px;
    }
}
@media (max-width: 375px) {
    .header__img {
        width: 285px;
        height: 256px;
    }

    .header__card {
        width: 285px;
        height: 363px;
    }
}